mat-form-field.monthly-income {
    width: 15%;
}

mat-form-field.monthly-expenses {
    width: 13%;
}

mat-form-field.years-to-compute {
    width: 3%;
}

button.compute {
    font-size:25px !important;
}